@import "tailwindcss";

@theme {
  --color-brand-400: #ffb740;
  --color-brand-500: #ffa116;
  --color-brand-600: #e58e0b;
}

@layer base {
  body {
    @apply bg-[#0A0A0A] text-white min-h-screen antialiased;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
}